.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.how-to-link {
    z-index: 1;
    text-decoration: none;
}

.how-to-link:hover {
    scale: 1.1;
    transition: 400ms;
}

.how-to-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5px 15px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .how-to-btn {
        padding: 2px 12px;
    }
}

.how-to-btn .how-to-p {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
    z-index: 1;
}

.how-to-btn:hover {
    background-color: white;
}

.how-to-btn:hover .how-to-p {
    color: #181717;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card3 {
    width: 60px;
    height: 45px;
    outline: none;
    border: none;
    background: rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.github {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: rgb(255, 255, 255);
}

.card3:hover .github {
    fill: rgb(0, 0, 0);
}

.downloadInstruct {
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    letter-spacing: 8px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loader {
    position: relative;
    margin-top: 1rem;
}

@media screen and (max-width: 720px) {
    .loader {
        margin-top: 2rem;
    }
}

.scanner span {
    color: transparent;
    font-size: 1.4rem;
    position: relative;
    overflow: hidden;
}

.scanner span::before {
    content: "Searching...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid #17feff;
    overflow: hidden;
    color: #17feff;
    animation: load91371 2s linear infinite;
}

@keyframes load91371 {
    0%,
    10%,
    100% {
        width: 0;
    }

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        border-right-color: transparent;
    }

    11%,
    21%,
    31%,
    41%,
    51%,
    61%,
    71%,
    81%,
    91% {
        border-right-color: #17feff;
    }

    60%,
    80% {
        width: 100%;
    }
}

.cube {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animateD 8s linear infinite;
}

@media screen and (max-width: 720px) {
    .cube {
        margin-top: 3rem;
    }
}

@keyframes animateD {
    0% {
        transform: rotateX(-15deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-15deg) rotateY(-360deg);
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube2 {
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation: animateD2 5s ease-out infinite alternate;
}

@keyframes animateD2 {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(180deg) rotateY(-360deg);
    }
}

.cube2 div {
    position: absolute;
    top: 35px;
    left: 0;
    width: 65%;
    height: 65%;
    transform-style: preserve-3d;
}

.cube2 div span {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 65%;
    height: 65%;
    background: transparent;
    border: 2px solid #7dff99;
    transform: rotateY(calc(90deg * var(--i))) translateZ(62px);
}

.cube3 {
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animateD3 1s ease-in-out infinite alternate;
}

@keyframes animateD3 {
    0% {
        transform: rotateX(-90deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateY(45deg);
    }
}

.cube3 div {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 15%;
    height: 15%;
    transform-style: preserve-3d;
}

.cube3 div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7dff99;
    transform: rotateY(calc(90deg * var(--i))) translateZ(14px);
    box-shadow: 0px 0px 7px #7dff99;
}

.top3 {
    position: absolute;
    top: 0;
    left: 0;
    background: #7dff99;
    transform: rotateX(90deg) translateZ(14px);
    box-shadow: 0px 0px 10px #7dff99;
}

.download-button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1rem;
}

.download-button,
.button__icon,
.button__text {
    text-decoration: none;
    transition: all 0.3s;
}

.download-button .button__text {
    transform: translateX(21px);
    color: var(--font-color);
    font-weight: 600;
}

.download-button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-button .svg {
    width: 20px;
    fill: var(--main-color);
}

.download-button:hover {
    background: var(--bg-color);
}

.download-button:hover .button__text {
    color: transparent;
}

.download-button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.download-button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}
